<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="demo.grs.com.android">

    <!-- 指定应用程序所支持的屏幕尺寸 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- Google Play等应用市场，过滤那些不能提供足够图形处理能力的设备 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.zjwy.tiaobaojinew.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 改变网络状态如是否能联网 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 改变WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络连接，可能产生GPRS流量 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 挂载、反挂载外部文件系统 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许程序获取当前或最近运行的应用 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 获取当前WiFi接入的状态以及WLAN热点的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序管理AccountManager中的账户列表 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 访问GMail账户列表 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 允许应用访问联系人通讯录信息 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 允许振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许读写系统设置项 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 接收短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 显示系统窗口 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 通过GPS芯片接收卫星的定位信息，定位精度达10米以内 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许程序连接配对过的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 通过WiFi或移动基站的方式获取用户错略的经纬度信息，定位精度大概误差在30~1500米 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
    <!-- 添加可以向外拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 允许访问摄像头进行拍照，自动对焦 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- take picture/record audio and video -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 访问闪光灯,android开发网提示HTC Dream不包含闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 多渠道打包，生成不多IP地址的apk -->
        <meta-data
            android:name="Server_IP"
            android:value="${SERVER_IP}" />
        <meta-data
            android:name="BuildVersion"
            android:value="1000" />

        <!-- 高德定位key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="666371350a1a12bc2230a2f51b495088" />

        <!-- 在你的项目的AndroidManifest中注明你的设计稿的尺寸。 -->
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <!-- 高德定位service -->
        <service
            android:name=".sercive.AMapLocationService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activity.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
